# Dependencies
node_modules/

# Environment Variables & Credentials
.env
.env.local
.env.production

# Build Outputs
dist/
build/
*.timestamp*.mjs

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.user
